/* Global */
body{
    min-width:960px ;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color:#000000;
    background-color: #FFFFFF;
}

a{
    text-decoration: none;
}

img{
max-width: 100%;
height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}


/*Grid*/
.page{
    height: 100%;
}
.page-body{
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}



/*header*/
.logo{
    width: 220px;
    height: 47px;
}

.main-header{
    margin: 0 auto;
    margin-bottom: 59px ;
    background-color: #F1F5F7;
    width: 1200px;
    min-height: 320px;

    outline: 5px solid rgba(0, 255, 0, 0.3);
    outline-offset: -5px;
}
.head{    
    background-color:#293449;
    height: 42px;
    padding-left: 130px;
    padding-right: 130px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.head a,
.nav a{
    color:#FFFFFF;
}
.search{
    background-color:#293449;
    color: #FFFFFF;
    border: none;
}
.bookmarks{
    padding-top: 9px;
    padding-bottom: 9px;
    width: 75px;
    height: 24px;
}
.cart{
    padding-top: 9px;
    padding-bottom: 9px;
    width: 75px;
    height: 24px;
    
}
/* кнопка оформит заказ*/
.buy{
    padding-top: 9px;
    padding-left: 19px;
    padding-right: 16px;
    padding-bottom: 9px;
    width: 115px;
    height: 24px;    
    background-color:#63A63E;
}
.buy a:hover{
    background-color: #5FBB2D;
    opacity: 1;
}
.buy a:focus{
    background-color:#63A63E;
    opacity: 0.5;

}

.contact{
    display: flex;
}

.contacts-description{
    padding-left: 160px;
    width: 197px;
    height: 71px;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #EE3643;
}

.contacts-phone{
    width: 270px;
    height: 45px;
    margin-bottom: 3px;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 74px;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: #EE3643;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
   
}

.contacts-adress{
    width: 252px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    color:#32425C;
    
    
}
.phone-adress{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}


.contacts-enter{
    width: 49px;
    height: 21px;
    padding-top: 12px;
    padding-left: 45px;
    padding-right: 27px;
    padding-bottom: 12px;
    font-size: 21px;
    line-height: 21px;
    background-color: #FFFFFF
}
.contacts-registration{ 
    margin: 0;  
    width: 102px;
    height: 21px;
    padding-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 12px;
    font-size: 21px;
    line-height: 21px;
    background-color: #FFFFFF
}
   
.contacts-btns{
    margin: 0;
    display: flex;
}


.contacts-btns,
.menu,
.my{
   list-style: none;
}
.contacts-btns a{
    background-color: #FFFFFF;
    color: #000000;
}
.contacts-btns a:hover,
.my a:hover{
    color:#EE3643 ;
}
.contacts-btns a:focus,
.my a:focus{
    color: #C5C5C5;
    opacity: 0.5;
}

.logged-user{
    background-color: #FFFFFF;
    font-size: 21px;
    line-height: 21px;
}

.my a{
    font-size: 16px;
    line-height: 18px;
    color: #32425C;
    }
 

/*menu navigation*/
.nav{
    background: #32425C;
    width: 940px;
    height: 60px;
    margin-left: 130px; 
}
.menu{
    padding-top: 16px;
    padding-bottom: 20px;
    padding-right: 47px;
    display: flex;
    justify-content: space-between;
}
.nav a:hover{
    background-color: #293449;
}
.nav a:focus{
    background-color: #293449;
    opacity: 0.5;
}


/*main*/
.product{
    width: 940px;
    min-height: 409px;
    margin: 0 auto;
    margin-bottom: 59px;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    color: #FFFFFF;


    outline: 5px solid rgba(0, 255, 179, 0.63);
    outline-offset: -5px;
}
 
.product h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;

}
.Materials{
    background-color: #FFBF47;
}
.Tool{
    background-color: #3BBCE3;
}
.Equipment{
    background-color: #DC91D8;
}
.Discounts{
    background-color: #8ED78F;
}
.Delivery{
    background-color: #FFC047;
}
.hammer-drill{
    background-image: url("../img/Слайдер.jpg");
}



.features h2,
.contacts h2{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.features p,
.contacts p{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}
.btn-red{
    background-color: #EE3643;
    color: #FFFFFF;
    text-transform: uppercase;
}
.manufacturers-pic{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.manufacturers{
    margin: 0 auto;
    margin-bottom: 70px;
    display: grid;
    width: 940px;
    min-height: 419px;

    outline: 5px solid rgba(230, 11, 182, 0.3);
    outline-offset: -5px;
}

.services{
    margin: 0 auto;
    margin-bottom: 70px;
    width: 1200px;
    min-height: 522px;
    background-color: #F1F5F7;
    
    outline: 5px solid rgba(5, 209, 236, 0.787);
    outline-offset: -5px;
}

.companya{
    margin: 0 auto;
    margin-bottom: 70px;
    width: 940px;
    min-height: 356px;

    outline: 5px solid rgba(8, 72, 223, 0.87);
    outline-offset: -5px;
}

/*main catalog*/
.breadcrumbs-list,
.price,
.manufacturers-list,
.power-list,
.catalog-list {
    list-style: none;
}

.popular-goods{
    margin: 0 auto;
    margin-bottom: 70px;
    width: 940px;
    height: 427px;
    outline: 5px solid rgba(152, 243, 6, 0.719);
    outline-offset: -5px;
}


.page-title,
.description{
    background-color:#F2F6F8;
}
.page-title{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase; 
}

.breadcrumbs{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;

    width: 941px;
    min-height: 1289;
    outline: 5px solid rgba(109, 6, 243, 0.876);
    outline-offset: -5px;

}

.price,
.manufacturers,
.power{
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;  
}
.manufacturers-list,
.power-list{
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
}
.show{
    font-size: 13px;
    line-height: 18px;
}

.catalog-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;

}


.subtitle{
    width: 940px;
    height: 89px;
    background-color: #f9f5f0;
}



.catalog-list p {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
}
.catalog-list h3{
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color:#000000;
    text-transform: uppercase;
}
.old-price{
    color: #A9A9A9;
    text-decoration: line-through;
    background-color: #FFFFFF;
}
.new-price{
    width: 141px;
    height: 38px;
    background-color:#EE3643;
    color: #FFFFFF;
}
.button{
    font-size: 14px;
    line-height: 18px;
    width: 135px;	height: 38px; 
    border: 3px solid #63A63E; 
    border-radius: 2px;
    background-color: #FFFFFF;
}
.btn-gren{
    background-color: #63A63E;
    box-shadow: inset 0px -3px 0px #367315;
}
.btn-gren a:hover{
    background-color:#5FBB2D;  
    opacity: 1;
}
.btn-gren a:focus{
    background: #518534;
    opacity: 0.5;
}



.description{
    width: 1200px;
    min-height: 261px;
    outline: 5px solid rgba(152, 243, 6, 0.719);
    outline-offset: -5px;
}

.description h2{
    font-size: 30px;
    line-height: 30px;
}
.description p{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}


/*footer*/

.main-footer{
    margin: 0 auto;
    background-color:#32425C;
    color:#F1F5F7;

    width: 1200px;
    min-height: 300px;
    outline: 5px solid rgba(211, 53, 5, 0.856);
    outline-offset: -5px;
    
}
.contacts-footer a{
    color:#F1F5F7;
}
.contacts-adress-footer{
    color:#F1F5F7;
}

.footer-menu,
.footer-secondary-menu,
.footer-social {
    list-style: none;    
}
.footer-menu a{
    color: #F1F5F7;
}
.footer-secondary-menu a,
.communication a,
.developer a{
    color: #FFD180;
}
.footer-social{
    font-size: 16px;
    line-height: 18px;
    background-color:#293449;
    color: #FFFFFF;
}

.footer-menu a:hover,
.footer-secondary-menu a:hover,
.communication a:hover,
.developer a:hover{
    text-decoration: underline;
}

.footer-menu a:focus,
.footer-secondary-menu a:focus{
    opacity: 0.5;
}
.communication a:focus,
.developer a:focus{
    color: #EE3643;
}




.modal, .maps{

    outline: 5px solid rgba(222, 238, 5, 0.856);
    outline-offset: -5px;

}

